
body {
    font-family: Arial, sans-serif;
    background: radial-gradient(rgb(5,221,245), rgb(6,150,253))
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#timer {
    font-size: 72px;
    text-align: center;
    margin-top: 50px;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 0 10px;
}

#log {
    margin-top: 50px;
}

#log table {
    border-collapse: collapse;
    width: 100%;
}

#log table th,
#log table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: #f2f2f2;
}

#log table th {
    background-color: #f2f2f2;
}